kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraMounts:
  - hostPath: /Users/bcslingluff/Desktop/CS4260/DailyBugle/dailybugle-data
    containerPath: /data/persist